CLIENT_ID=<YOUR_SALESFORCE_CLIENT_ID>
CLIENT_SECRET=<YOUR_SALESFORCE_CLIENT_SECRET>
VITE_URL=<API_CALLS_URL> # via buttons to skip 1 month forward/backward
FRONTEND_URL=<API_REQUESTS_URL> # via buttons to skip 1 month forward/backward
PORT=<>
SF_TOKEN=<(Optional) Your token object>